<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <title></title>
</head>

<body>



    <div id="liste-users">
        <h1>liste user</h1>
        <% users.forEach(user => { %>
           <button onclick="_join('<%= user.pseudo %>')" id="<%= user.pseudo %>"><%= user.pseudo %></button>  
            <% });%>
    </div>
    <div id="content">
       
        <div id="header">
            <p id="name"></p>
        </div>
        <div id="main">
        <div id="msgcontent"></div>
        </div>
   
        <div id="footer">
            <form method="post" id="chatForm">
                 <input type="text" id="msgInput" autofocus  /> 
                 <input type="file" onchange="handleFiles(files)" id="upload" multiple name="file" />
                 
              
              
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="app.js"></script>

    <script>
         function handleFiles(files) {
   var imageType = /^image\//;
   for (var i = 0; i < files.length; i++) {
   var file = files[i];
   if (!imageType.test(file.type)) {
     alert("veuillez sélectionner une image");
   }else{
    //  if(i == 0){
    //    preview.innerHTML = '';
    //  }
     var img = document.createElement("img");
   
     img.file = file;
     document.querySelector("#msgcontent").appendChild(img); 
     var reader = new FileReader();
     reader.onload = ( function(aImg) { 
     return function(e) { 
     aImg.src = e.target.result; 
   }; 
  })(img);

 reader.readAsDataURL(file);
 }
 
 }
}
    </script>

</body>

</html>