<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <title></title>
</head>

<body>
 
    

   

   
    <div id="content">

        <div id="cloche">🔔
            <div id="notif"></div>
        </div>

        <div id="lesUsers" onclick="listeUsers()">
            👤
        </div>

        <div id="header">

           
           
        </div>
        <div id="main">
            <div id="msgcontent"></div>
            <div id="isWritting"></div>
        </div>

        <div id="footer">
            <form method="post" id="chatForm">
                <input type="text" placeholder="   ..." id="msgInput"  onkeypress="writting()" onblur="notWritting()" />

                <label for="upload" id="envoiphoto">📷</label>
                <input style="width: 20px;" type="file" onchange="handleFiles(files)" id="upload" multiple
                    name="file" />



            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="app.js"></script>

    <script src="style.js"></script>

    


</body>

</html>