*{box-sizing: border-box;margin: 0;padding: 0; font-family: monospace; font-family: "Sofia", sans-serif;}

:root{
--color1-: #a3cea0;
--color2-: rgb(236, 238, 248);
--msgmoi-: #a3cea0;
--msgautre-: rgb(190, 188, 188);
}

body{
    background-color: #333;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


#liste-users{
    height: 560px;
    width: 200px;
    background-color: var(--color2-);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#content {
    height: 700px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--color2-);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    overflow: hidden;
}

#header{
    background-color: var(--color1-);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    background-color: var(--color2-);
    grid-area: main;
   
   overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
}

#msgcontent{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    
}

#msgcontent::-webkit-scrollbar{
    display: none;
}

.message{
    width: 100%;
  
    overflow: hidden;
   margin: 10px 0;
   
}



.moi{
    
   
    display: flex;
    justify-content: end;
    align-items: center;
    height: fit-content;

}

.messagemoi{
    background-color: var(--color1-);
    display: flex;
    border-radius: 20px;
    align-items: center;
    max-width: 55%;
  
    height: fit-content;
    padding: 7px;
    width: fit-content;
}

.autre{
    
   
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
    
   
}

.messageautre{
    background-color: var(--msgautre-);
    display: flex;
    align-items: center;
    border-radius: 20px;
    max-width: 55%;
  
    padding: 7px;
    height: fit-content;
   
}

.img{
    max-width: 200px;
    max-height: 300px;
}

#footer{
    background-color: var(--color1-);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
